<!doctype html>
<html lang=en>

<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width">
<link rel=icon
href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>🏉</text></svg>"
type="image/svg+xml">

<title>Inner Melbourne Football League</title>

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-fonts@1.1.1/fonts/inter.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css"> -->
<!-- <link rel="stylesheet" href="https://newcss.net/theme/terminal.css"> -->

<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">

<style>
/* fix some pico styles, comment out if reverting to new.css */
header,
main {
	padding: 1em 0 0 0 !important;
}

h2,
h3,
p {
	margin: 0 0 0 0 !important;
}

/* end pico */

* {
	font-variant: no-common-ligatures
}

td {
	font-variant-numeric: tabular-nums
}

th.right,
td.right {
	text-align: right;
}

footer {
	background: var(--nc-bg-2);
	border-top: 1px solid var(--nc-bg-3);
	padding: 2rem 1.5rem;
	margin: 2rem calc(0px - (50vw - 50%)) -2rem;
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
	text-align: center;
}

tr:nth-child(5) th,
tr:nth-child(5) td {
	border-bottom: 3px solid #d5d5d5
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

@media (prefers-color-scheme: dark) {

	tr:nth-child(5) th,
	tr:nth-child(5) td {
		border-bottom: 3px solid #333333
	}
}
</style>
</head>

<body>

<header>
<h1>Inner Melbourne Football League 🏉</h1>
</header>

<main id=app>

<p>
	<label for="yearSelect">Year:</label><select v-model="currentYear" title="choose year">
		<option v-for="year in years" :value="year">{{ year }}</option>
	</select>
</p>

<Season :season="season"></Season>

<p style="height:3em"> </p>

<details>
	<summary>⚙️</summary>
	<p>
		<label for="southCheck">
			<input type="checkbox" v-model="south" id="southCheck" />
			Show Sydney as South Melbourne</label>
	</p>

	<p>
		<label for="fitzCheck">
			<input type="checkbox" v-model="fitz" id="fitzCheck" />
			Show Brisbane as Fitzroy (post 1996)</label>
	</p>
</details>

</main>

<footer>
made with ❤️ by W. David Porter
</footer>


<!-- <script type=importmap>
{
"imports": {
"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
"season": "./components/season.js",
"csv": "https://cdn.jsdelivr.net/npm/csv-parse@5.3.0/dist/esm/index.js"
}
}
</script> -->

<script type="module">

import { createApp, ref, watch } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js" //"vue" 
import Season from "./components/season.js" // "season"
import { parse } from "https://cdn.jsdelivr.net/npm/csv-parse@5.3.0/dist/esm/index.js" //"csv"

createApp({
	components: {
		Season
	},
	setup() {

		const season = ref({
			year: 2022,
			rounds: [],
			finals: []
		})

		const currentYear = ref("")

		let years = ref([])

		const south = ref(false)
		const fitz = ref(false)

		function cast(value, context) {
			if (context.column == "homeGoals" || context.column == "homeBehinds" || context.column == "awayGoals" || context.column == "awayBehinds")
				return parseInt(value)
			else
				return value
		}

		async function getLatestYear() {
			const response = await fetch("/data/latest.txt")
			const text = await response.text()
			currentYear.value = text
			years.value = Array.from({ length: parseInt(currentYear.value) - 1982 + 1 }, (x, i) => i + 1982).reverse()
		}

		getLatestYear()

		async function changeSeason() {
			//const vue = this
			const response = await fetch(`./data/${currentYear.value}.csv`)
			const text = await response.text()
			// h & a
			parse(text, {
				columns: true,
				cast: cast,
				on_record(record, lines) {
					if (fitz.value == false && currentYear > 1996 && (record.homeTeam == "Fitzroy" || record.awayTeam == "Fitzroy"))
						return null
					if (south.value == false && (record.homeTeam == "South Melbourne" || record.awayTeam == "South Melbourne"))
						return null
					if (record.roundType == "round")
						return record
					else
						return null // finals
				}
			}, (err, data) => {
				//console.log(data)
				season.value = {
					year: currentYear,
					rounds: []
				}
				let currentRoundNumber = 0, previousRoundNumber = 0
				data.forEach(d => {
					if (d.roundNumber != previousRoundNumber) {
						previousRoundNumber = d.roundNumber
						++currentRoundNumber
						season.value.rounds.push({
							roundNumber: currentRoundNumber,
							matches: [d]
						})
					}
					else {
						season.value.rounds.at(-1).matches.push(d)
					}
				})
			})
			// finals
			parse(text, {
				columns: true,
				cast: cast,
				on_record(record, lines) {
					if (fitz.value == false && currentYear.value > 1996 && (record.homeTeam == "Fitzroy" || record.awayTeam == "Fitzroy"))
						return null
					if (south.value == false && (record.homeTeam == "South Melbourne" || record.awayTeam == "South Melbourne"))
						return null
					if (record.roundType == "finals")
						return record
					else
						return null // finals
				}
			}, (err, data) => {
				//console.log(data)
				season.value.finals = []
				let roundNumber = 0
				data.forEach(d => {
					if (d.roundNumber != roundNumber) {
						++roundNumber
						season.value.finals[roundNumber - 1] = {
							roundNumber: d.roundNumber,
							matches: [d]
						}
					}
					else {
						this.season.finals[roundNumber - 1].matches.push(d)
					}
				})
			})

		}

		watch(currentYear, changeSeason)
		watch(fitz, changeSeason)
		watch(south, changeSeason)

		return {
			season,
			years,
			currentYear,
			south,
			fitz,
			cast
		}
	},

	
}).mount('#app')
</script>


</body>

</html>