<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width">

	<title>Inner Melbourne Football League 🏉</title>

	<link rel=stylesheet href=https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css>
	<meta name=description content="Australian Football Results Melbourne Victoria">
	<link rel=canonical href=https://imfl.neocities.org />
	<link rel=icon href=/favicon.ico>
	<link rel=icon href=/favicon.svg type=image/svg+xml>

<body>
	<header>
		<h1>Inner Melbourne Football League 🏉</h1>
		<nav>The results that matter</nav>
	</header>

	<div id=app>
		<label for=yearList></label>
		<select id=yearSelect v-model="year" v-on:change="onYearChange">
			<option v-for="y in years" v-bind:value="y" v-text="y">
		</select>
		<details>
			<summary>⚙️</summary>
			<ul>
				<li>
					<input type=checkbox id=south v-model="south" v-on:change="onTraitorChange">
					<label for=south>Include Sydney Swans as South Melbourne</label>
				<li v-bind:style="'display:' + (year <= 1996 ? 'none' : 'list-item')">
					<input type=checkbox id=fitzroy v-model="fitzroy" v-on:change="onTraitorChange">
					<label for=fitzroy>Include Brisbane Lions as Fitzroy</label>
			</ul>
		</details>

		<hr>
		<h2 v-text="`Season ${year}`"></h2>

		<round v-for="round in season" v-bind:round="round" v-bind:key="round.id">
		</round>

		<hr>

		<h2>Ladder</h2>
		<ladder v-bind:ladder="ladder"></ladder>

		<hr>

		<div v-if="finalsSeason.length > 0" id=finalsDiv>
			<h2 v-text="`Finals ${year}`"></h2>
			<round v-for="round in finalsSeason" v-bind:round="round" v-bind:key="'f'+round.id">
			</round>
		</div>


	</div>

	<template id=team-template>
		<span v-text="`${score.name} ${score.goals}.${score.behinds}.${score.points}`" v-bind:class="score.result"></span>
	</template>


	<template id=match-template>
		<div>
			<team v-bind:score="match.homeTeam" v-bind:key="match.homeTeam.name"></team>
			vs.
			<team v-bind:score="match.awayTeam" v-bind:key="match.awayTeam.name"></team>
		</div>
	</template>


	<template id=round-template>
		<div>
			<h3 v-text="`${round.type == 'finals' ? 'Week ' : 'Round'} ${round.id}`"></h3>
			<match v-for="(match,i) in round.matches" v-bind:match="match" v-bind:key="`${round.id}${i}`"></match>
		</div>
	</template>

	<template id=ladder-template>
		<table>
			<thead>
				<tr>
					<th scope=col>🪜
					<th scope=col>W
					<th>L
					<th scope=col>D
					<th scope=col>For
					<th scope=col>Agst.
					<th scope=col>Pct.
					<th scope=col>Pts.
			<tbody>
				<tr v-for="team in ladder">
					<th v-text="team.name" scope=row>
					<td v-text="team.win">
					<td v-text="team.loss">
					<td v-text="team.draw">
					<td v-text="team.for">
					<td v-text="team.against">
					<td v-text="team.percent.toFixed(1)" v-bind:title="team.percent.toFixed(6)">
					<td v-text="team.points">
		</table>
	</template>

	<hr>
	<footer>
		<p><a href="https://github.com/wdporter/inner-melbourne-football-league">📝</a> <a
				href=mailto:david.porter@fastmail.com>✉️</a>
	</footer>

	<script src=main.js></script>