footer {
	background: var(--nc-bg-2);
	border-bottom: 1px solid var(--nc-bg-3);
	padding: 2rem 1.5rem;
	margin: -2rem calc(0px - (50vw - 50%)) 2rem;
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
}

span.win {
	font-weight: bold;
}

span.draw {
	font-style: italic;
}

nav {
	font-style: italic
}


tr:nth-child(5) {
	border-bottom: 5px #ccc double;
}

thead th,
td {
	text-align: right
}

ul {
	list-style-type: none
}

label {
	padding-left: .5rem
}

details {
	display: inline
}

select {
	height: 3rem;
	vertical-align: top;
}

footer a {
	font-size: 3rem;
	text-decoration: none;
}

@media screen and (max-width: 600px) {
	div.table-div {
		word-break: initial;
		overflow-x: scroll;
	}

}
